<nav class="navbar navbar-dark">

  <div class="container-fluid">

     <div class="navbar-header">
        <a class="text-yellow" class="navbar-brand" href="/logout">
          Logout
        </a>
      </div>

  </div>

</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="cache-text, member-name"> Collector Cache </h2>
    </div>
  </div>
</div>

<br>

<div class="container">

  <div class="row">

    <div class="col-md-6">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" id="cardCollectIn" type="search" placeholder="Card Name"
          aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" id="cardCollect" type="submit">Search in your
          Collection</button>
      </form>
    </div>

    <div class="col-md-6">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" id="cardSearchIn" type="search" placeholder="Card Name" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" id="cardSearch" type="submit">Search to Add</button>
      </form>
    </div>

  </div>

  <div class="row">   
    <div class="col-md-6">
      <button class="btn btn-success my-2 my-sm-0" id="pdfmake">Generate Collection Report</button>
    </div>
  </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Search Result(s)</h2>
      <label for="quantity">Quantity</label>
      <input id="quantity" name="quantity" placeholder="1">
      <hr>
      <label for="condition">Condition</label>
      <select name="condition" id="condition">
        <option value="1">Near Mint</option>
        <option value="2">Lightly Played</option>
        <option value="3">Moderately Played</option>
        <option value="4">Heavily Played</option>
        <option value="5">Damaged</option>
      </select>
      <hr>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      <h3>Select accurate card from selection above!</h3>
    </div>
  </div>

</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class='header-text'>Card Image</th>
      <th scope="col" class='header-text'>Name</th>
      <th scope="col" class='header-text'>Description</th>
      <th scope="col" class='header-text'>Quantity</th>
      <th scope="col" class='header-text'>Condition</th>
      <th scope="col" class='header-text'>Market Price</th> 
      <th scope="col" class='header-text'>Delete</th>
    </tr>
  </thead>

  <tbody id="database-container">
      <th scope="col">Card Image</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Quantity</th>
      <th scope="col">Condition</th>
      <th scope="col">Market Price</th> 
      <th scope="col">Delete</th>
  </tbody>
</table>